<!-- views/pages/about.ejs -->
<!DOCTYPE html>

<html lang="en">
<head>
    <% include ../partials/head %>

    <title>About Page</title>
</head>

<body class="container">
    <header>
        <% include ../partials/header %>
    </header>

    <main class="main">
        <div class="row">
            <div class="col-sm-8">
                <div class="jumbotron">
                    <h3 class="p1">About</h3>

                    <p class="p1">I have been learning Rails, NodeJs, AngularJS, Php, C#, Bootstrap, React.JS, Ember.JS, Codeigniter, ASP.Net 4.5, MVC5, Python, Ruby, Javascript, and Django.</p>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <img alt="..." src="../imgs/pic1.jpeg">

                            <div class="caption">
                                <h4>Donny Ortiz</h4>

                                <p>Learning EJS is fun!</p>

                                <p><a class="btn btn-default" href="https://nodejs.org/" target="_blank">Node.JS</a> <a class="btn btn-default" href="https://www.npmjs.com/package/ejs" target="_blank">EJS NPM</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
</body>
</html>