<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>

    <title>Under Construction</title>
</head>

<body class="container">
    <header>
        <% include ../partials/header %>
    </header>

    <main class="main">
        <div>
            <h3>Contact</h3>

            <h4>This page is under construction. Please come back soon!</h4>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
</body>
</html>